<!DOCTYPE html>
<div class="container" xmlns:th="http://www.w3.org/1999/xhtml">
  <div class="video-container">
    <div class="row" style="margin-bottom: 20px;">
      <a th:href="@{'/video/' + ${video.id} + '/edit'}" class="btn btn-primary">Edit</a>
      <button type="button" class="btn btn-danger" th:onclick="'deleteVideoConfirm(\'' + ${video.id} + '\')'">Delete</button>
    </div>

    <div class="row">
      <iframe width="560" height="315" th:src="@{https://www.youtube.com/embed/{url}(url=${#strings.substring(video.url, 17)})}" alt="no video attached" allowfullscreen="0"></iframe>
      <h3 th:text="${video.title}">Title</h3>
      <p th:text="${video.description}">Description</p>
      <hr />
    </div>

    <div class="row">
      <div class="col-md-2">
        <a th:href="@{'/category/' + ${video.category.title}}" th:text="${video.category.title}">Category</a>
      </div>
      <div class="col-md-6">
        <div class="video-tags">
          <span class="badge badge-success" th:each="tag : ${video.tags}">
            <a th:href="@{'/tag/' + ${tag.name}}" th:text="${tag.name}" style="color: white;"></a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
